#sub-header {
  height: 50px;
  background: #5f25a6;
  z-index: 9;
  position: relative;
  color: #eee;
  display: flex;
  overflow: hidden;
}
#sub-header .container {
  margin: auto;
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.h-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h-left__item {
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  display: flex;
  margin: 10px 0;
  align-items: center;
  gap: 10px;
  /* float: left; */
}
.spacing {
  width: 1px;
  height: 30px;
  float: left;
  margin: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.h-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.h-right__item {
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#header {
  background: #7b36ce;
  height: 80px;
  padding: 5px 0;
  position: relative;
  z-index: 100;
}
.dark #header {
  background-color: #1f1f1f !important;
  color: #ddd !important;
}
#header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#header .container .header_left {
  display: flex;
  flex: 1;
  align-items: center;
}
#header.home-header.default-header {
  background: #7b36ce;
  padding-bottom: 20px;
}
#header.home-header {
  background: #451184;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 0;
}
#header #logo {
  display: block;
  height: 50px;
  margin: 10px 40px 10px 0;
  float: left;
}
#header #logo img {
  height: 100%;
  width: auto;
  float: left;
}
.header_menu-list {
  list-style: none;
  display: flex;
}
#header_menu ul.header_menu-list .nav-item {
  position: relative;
}

#header_menu ul.header_menu-list .nav-item > a {
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  text-decoration: none;
}
#header_menu ul.header_menu-list .nav-item > span {
  height: 40px;
  cursor: pointer;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  display: flex;
  align-items: center;
  gap: 5px;
}
#header_menu ul.header_menu-list .nav-item.header_menu-parent:hover .header_menu-sub {
  display: block;
  /* background: red; */
}

#header_menu .header_menu-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  border-radius: 12px;
  background: #fff;
  z-index: 102;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
#header_menu ul.header_menu-list .nav-item:hover > a {
  color: #ffd702;
}

#header_menu .header_menu-sub .sub-menu {
  /* display: none; */
  padding: 8px;
  text-align: left;
  list-style: none;
  overflow: hidden;
}

#header_menu .header_menu-sub ul.sub-menu li:hover {
  background: #5f25a6;
}
#header_menu .header_menu-sub ul.sub-menu li:hover a {
  color: #fff;
}

#header_menu .header_menu-sub ul.sub-menu li {
  border-radius: 4px;
}

#header_menu .header_menu-sub ul.sub-menu li a {
  padding: 6px 10px;
  display: block;
  font-size: 14px;
  border-radius: 8px;
}

#header .btn-user {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_right-mobile {
  display: none;
}

.mobile_menu {
  display: none;
}

#header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_filter {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  height: 40px;
  padding: 0 10px;
}
.header_filter .header_filterTitle {
  height: 26px;
  cursor: pointer;
  line-height: 26px;
  font-size: 11px;
  background: #e9daff;
  color: #5f25a6;
  padding: 0 6px;
  border-radius: 6px;
  z-index: 3;
}
.header_filter input {
  height: 100%;
  border: none;
  font-size: 14px;
  margin: 0 10px;
}

@media screen and (max-width: 1300px) {
  .dark #header {
    background: #7b36ce !important;
    color: #ddd !important;
  }
  #sub-header {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  #header .btn-user {
    display: none;
  }
  .header_right-mobile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #header.home-header.default-header {
    padding-bottom: 0;
  }
  #header.home-header {
    padding-top: 0;
  }
  .header_filter {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .dark #header {
    background-color: #1f1f1f !important;
    color: #ddd !important;
  }
  #header_menu {
    display: none;
  }
}
